body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    background-color: rgb(0, 89, 90);
    font-family: Arial, sans-serif;
  }

  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 400px;
    padding: 20px 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }  

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  
  .divinput {
    width: 300px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    margin: 5px;
    padding: 10px;
  }

  .inputborder {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .errorMsg{
    background-color: rgb(0, 89, 90);
    border: 0 solid rgb(0, 89, 90);
    color: white;
  }
  .errorMsg1{
    background-color: rgb(0, 89, 90);
    border: 0 solid rgb(0, 89, 90);
    color: white;
  }
  .numPaginas {
    background-color: rgb(0, 89, 90);
    border: 0 solid rgb(0, 89, 90);
    color: white;
  }

  button {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  table {
    /* Para centrar usamos "auto" en la alineación horizontal */
    margin: 0 auto;
    /*Lo siguiente es para los bordes*/
    border-collapse:separate;
}

table, th, td {
   border: 1px solid black;
}
.titulo {
  width: 300px;
  text-align: start;
  background-color: darkgreen;
  color: white;;
}

.year {
    width: 200px;
    background-color: darkgreen;
    color: white;
}

.opciones {
   width: 75px;
   background-color: darkgreen;
   color: white;;
}

.opcImagen {
   width: 20px;
   height: 20px;
   margin: 5px;
}
  
.pares{
    background-color: grey;
 }    
 .impares{
  background-color: lightgrey;
}    

.ListadoBotones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnPaginas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columnaImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.get_artistas{
  margin: 5px;
}

.get_albums {
  margin: 5px;
}
.get_albumspag {
  margin: 5px;
}
.siguientePagina {
  margin: 5px;
}
.PaginaAnterior {
  margin: 5px;
}
.btn-add {
  margin: 5px;
}
.btn-registro{
  margin: 5px;
}
.btn-add1{
  margin: 5px;
}
.cierreSesion1{
  margin: 5px;
}