body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: lightgrey;
    font-family: Arial, sans-serif;
  }

  .container {
    width: 400px;
    padding: 20px 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

 
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  table {
    /* Para centrar usamos "auto" en la alineación horizontal */
    margin: 0 auto;
    /*Lo siguiente es para los bordes*/
    border-collapse:separate;
}

table, th, td {
   border: 1px solid black;
}
.titulo {
  width: 300px;
  text-align: start;
  background-color: darkgreen;
  color: white;;
}

.year {
    width: 100px;
    background-color: darkgreen;
    color: white;;
    }

.pares{
    background-color: grey;
 }    

.ListadoBotones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.get_artistas{
  margin: 5px;
}

.get_albums {
  margin: 5px;
}
